*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

iframe {
    border: none;overflow-y: hidden;
}

body {
    background-image: url('../images/background.JPG');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;

    box-sizing: border-box;
}

.cover{
    margin: 0 auto;
}

.decorator-1 img {
    max-width:70%;
    height:auto;
    margin: auto;
    display: block;
}

.decorator-2 img{
    max-width:70%;
    height:auto;
    margin: auto;
    display: block;
    transform: rotate(180deg);
}

.bg-body{
    margin: 0;
    padding: 0;
}

.header-name, .wed{
    margin: 0;
    padding: 0;

    
    font-family: 'Alice', serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Tangerine', cursive;
    font-family: 'Marcellus', serif;

}

.wed{
    font-size: 10vh;
}

.header-name{
    font-size: 8vh;
}

.ampersant{
    margin: 0;
    padding: 0;
    opacity: 0.5;
    font-family: 'Marcellus', serif;

}

.msg{
    font-size: 2.5vh;
    font-family: 'Alice', serif;
}

.invite{
    font-family: 'Alice', serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Tangerine', cursive;

    font-size: 9vh;
}

a{
    text-decoration: none;
    color: black;
}

.position-absolute{
    width: 91%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

/* Chat GPT den aldım. Fade-in effect*/

.fade-in {

    opacity: 0;
    animation: fadeIn 3s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* x8qAp30*/

#myButton:hover {
    background-color: black;
}

#myButton {
    font-family: 'Quicksand', sans-serif;
}

.vl {
    border-left: 1px solid black;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #who {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
  }

  #with {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;

    
  }

  .isimler {
    font-family: 'Dancing Script', cursive;
    font-size: 8vh;

    margin: 0;
    padding: 0;

  }

  .mutluluk {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
  }

  .sizeOzel {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
  }

  .guestInput {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;

  }

  .adres {
    font-family: 'Quicksand', sans-serif;
  }

  .basliklar {
    font-family: 'Roboto Slab', serif;
    margin-top: 5px;
  }

  .nikah {
    font-family: 'Roboto Slab';
    margin-top: 10px;
  }

  .tarih {
    font-family: 'DM Serif Display', serif;
    font-family: 'Slabo 27px', serif;
  }

  .kiminle {
    font-family: 'Quicksand', sans-serif;
  }
